.asset{
}
.asset .asset-description{
font-size:0.8em;
color:#AAA;
padding:0 0.2em;
line-height:1.1em;
}
.asset-image-holder{
float:right;
clear:right;
}
.asset-image-holder img{
margin:0;
}
/**
Asset upload form related styles
*/
.asset-file-field{
clear:both;
}
.asset-file-field .asset.view{
width:100px;
height:100px;
float:left;
clear:right;
text-align:center;
margin:0 5px 0 0;
}
.asset-file-field .form-item{
height:100px;
}
/**
Embed form
*/
.form-text.code{
font-family:monospace;
}
/**
Asset browser related styles
*/
body.popup{
  background-color:#FFF;
  padding:0.2em;
  overflow:scroll;
}
body.popup .form-item{
  margin:0.2em 1%;
  float:left;
  width:48%;
}
body.popup h1{
  display:none;
}
#asset-browser{
  width:100%;
}
#asset-browser td{
  vertical-align:top;
}
#asset-browser-asset{
  width:400px;
  height:450px;
}
#asset-view{
background-image:url(img/bgk.gif);
}
#asset-search-form{
  height:120px;
}
#asset-view{
  overflow:auto;
  max-height:300px;
  min-height:100px;
  text-align:center;
}
#asset-search-results-holder{
  background-color:#EAEAEA;
  margin: 0;
  padding: 2px 0 0 2px;
}
#asset-search-results{
  overflow:auto;
  margin: 0;
  padding: 0;
  max-height: 360px;
}
#asset-search-results .search-result{
  width:116px;
  height:116px;
  border:1px solid #333;
  margin:0 2px 2px 0;
  padding:2px;
  text-align:center;
  font-size:85%;
  float:left;
  overflow:hidden;
  background-image:url(img/bgk.gif);
}


#asset-browser .form-text{
font-size:90%;
width:240px;
float:left;
height:24px;
margin-bottom:4px;
}
#asset-browser .form-text label{
width:60px;
font-weight:bold;
float:left;
}
#asset-browser .form-text select,
#asset-browser .form-text input{
font-size:90%;
width:160px;
float:left;
}

#asset-inclusion{
font-family:monospace;
padding:0.2em;
border:0;
margin:0 auto 1em auto;
display:blocK;
width:96%;
}

.asset-archive-holder{
  color:#33AA33;
  background-color:#EAFFEA;
  border:1px solid #33AA33;
  padding: 0.5em;
  margin:0.5em;
  text-align:right;
}
.asset-archive-holder a,
.asset-archive-holder a:link,
.asset-archive-holder a:hover,
.asset-archive-holder a:visited{
  margin:0;
  color:#33AA33;
  text-decoration:none;
}

.asset-archive-holder h3{
  line-height:32px;
  margin:0;
  padding-left:42px;
  background:url('aapi_archive/img/package-x-generic.png') no-repeat 0% 50% transparent;
  color:#33AA33;
  text-align:left;
}
.asset-archive-holder small{
  
}
.asset-archive-holder .content{
  text-align: left;
  color:#000;
}
.asset-archive-holder .node{
  height:auto;
  min-height: 0;
}
.asset-archive-holder .node .taxonomy,
.asset-archive-holder .node .submitted,
.asset-archive-holder .node .title{
  display:none;
}
#main table.asset-archive-content {
  border-collapse: collapse;
  text-align: left;
}

.view-galerie {
text-align:center;
}
.view-galerie .node{
float:left;
padding:1em;
margin:0;
background-color:#EAEAEA;
margin:0.3em;
min-height:210px;
width:28%;
overflow:hidden;
}