#aapi-quick-upload-form-target-holder {
    z-index: 999;
    background-color: #999;
}

#aapi-quick-upload-messages {
    margin: 0 0 0 -300px;
    padding: 1em;
    display: block;
    position: fixed;
    background-color: rgb( 238, 238, 238 );
    z-index: 1000;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50px;
    border: 4px solid #333;
    overflow: auto;
}

#header-region #aapi-quick-upload-messages * {
    display: block;
}

#header-region #aapi-quick-upload-messages ul{
  padding:0;
  margin:0;
}

#header-region #aapi-quick-upload-messages li {
    width: 50%;
    margin:0;
    padding:0;
    float: left;
    height:160px;
}

#aapi-quick-upload-loader{
  text-align:center;
  background:url(img/ajax-loader.gif) center 2px no-repeat transparent;
  padding:20px 0 0 0;
  display:none;
}
